*,
::after,
::before {
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}
ul {
    margin: 0;
    padding-left: 0;
    list-style-type: none;
}
img {
    display: block;
}
a {
    text-decoration: none;
}
body {
    background-color: #000;
}
.header {
    max-width: 1612px;
    background: #000;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.container {
    max-width: 1436px;
    width: 100%;
    margin: 15px auto;
    padding: 0 15px;
}
.container-header {
    display: flex;
    align-items: center;
}
.header-nav {
    display: flex;
    gap: 365px;
    align-items: center;
    flex-grow: 1;
}

.logo-block {
    display: flex;
    align-items: center;
    gap: 14px;
}
.logo-link {
    color: #FFF;
    padding: 35px 13px 9px;
    text-align: center;
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 0; /* 0% */
    display: block;
    width: 70px;
    height: 70px;
    border-radius: 14px;
    border: 4px solid #326CFF;
}
.logo-text {
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 0px; /* 0% */
}
.nav-list {
    display: flex;
    gap: 54px;
    max-width: 385px;
}
.nav-link {
    display: block;
    padding: 25px 0;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.25;
    opacity: 0.5;
    position: relative;
}
.nav-link.active {
    font-weight: 800;
    color: #ffffff;
    opacity: inherit;
}
.nav-link.active:after {
    content: "";
    display: block;
    position: absolute;
    width: 46px;
    height: 2px;
    width: 46px;
    border-radius: 50px;
    bottom: 20px;
    background-image: linear-gradient(317deg, #26FFF2 13.2%, #326CFF 71.54%), url(./images/active-link.jpg);
}
